@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam&display=swap');

body {
    background-color: #EECBAA;
}

.cats {
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
}

.cats .container {
    display: flex;
    justify-content: space-around;
}

.cat1,
.cat2,
.cat3,
.cat4 {
    width: 200px;
    height: 200px;
    padding: 0px;
    object-fit: cover;
}

.row1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.login, .postItem {
    margin-top: 10vh;
    margin-right: 30vh;
}
h1 {
    margin-top: 10vh;
    margin-left: 30vw;
}
#navbg {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    height: 100vh;
    width: 12.5vw; 
    padding: 25px;
}


.navbar-nav {
    display: block;
}

.nav-link {
    font-family: 'ADLaM Display', cursive;
    display: block;
    padding: 20px 20px; 
    text-align: center;
}


#titlebg {
    font-family: 'ADLaM Display', cursive;
    background-color: violet;
    position: flex;
    top: 0;
    left: 0;
    width: calc(100vw - 250px);
    padding: 10px 20px;
    text-align: left;
    margin-right: 250px;
}

#mainbg {
    font-family: 'Noto Sans Adlam', sans-serif;
    background-color: peru;
    padding: 20px;
    margin-top: 60px;
    margin-left: 0;
    width: calc(100vw - 250px); 
    position: fixed;
    top: 60px;
    left: 0;
    right: 250px; 
    bottom: 0;
}

#userActions {
    margin-left: 10vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    align-items: cen;
    background-color: aqua;
    height: auto;
    width: auto;
    gap: 200px;
}

#userActions button {
    max-height: 40px;
    max-width: 160px;
    align-items: center;
}

#mainbg:hover, #titlebg:hover, #navbg:hover, #userActions:hover, .cats:hover {
    background-color: transparent;
}



